/*
========================================================================================
    scRNA-seq analysis Config File
========================================================================================
    Default config options for SciComp compute environments
----------------------------------------------------------------------------------------
*/

params {

  config_profile_description = 'CDC SciComp SGE config for Aspen clusters'
  outdir                     = 'results'

}

/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================
*/

timeline {
  enabled = true
  file    = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}
trace {
  enabled   = true
  fields    = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file      = "${params.outdir}/trace.txt"
  overwrite = true
}

/*
========================================================================================
    Base Executor config
========================================================================================
*/

executor {
  queueSize = 100
}

/*
========================================================================================
    Profiles - lowmem, highmem
========================================================================================
*/

env {
    TMPDIR = "$HOME/tmp"
}

profiles {
  lowmem {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'all.q'
      cpus         = { task.attempt * 2 }
      memory       = { 32.GB * task.cpus }
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }

  highmem {
    process {
      executor     = 'sge'
      penv         = 'smp'
      queue        = 'highmem.q'
      cpus         = 8
      memory       = 400.GB
    }
    executor {
      queueSize    = 100
      pollInterval = '15 sec'
    }
  }
}
